/* varibale */
$body-bg: #ffffff;
$font:'https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900';
    
    
$primary-color: #804000;
$secondary-color: #fe4c50;
$light-color: #ffe6cc;
$dark-color: #232530;